/*generali*/


/*
icone----->

per header

user: <i class="fa-solid fa-user"></i>
cuore vuoto: <i class="fa-sharp fa-regular fa-heart"></i>
borsa: <i class="fa-sharp fa-solid fa-bag-shopping"></i>



per footer
  

twitter:   <i class="fa-brands fa-square-twitter"></i>
facebook: <i class="fa-brands fa-square-facebook"></i>
instagram:  <i class="fa-brands fa-square-instagram"></i>
pinterest:  <i class="fa-brands fa-square-pinterest"></i>
youtube:     <i class="fa-brands fa-youtube"></i>

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header: #ff6d1b;
    --footer: #1a1a1a;
}

.debug {
    border: 1px solid black;
}

/*header*/

header {
    background-color: var(--header);
}

nav {
    max-width: 1200px;
    margin: auto;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
}


.top-bar img {
    max-height: 2rem;
}

li {
    padding: .5rem
}


i {
    padding: .5rem;
}

i:hover{cursor: pointer;}